@font-face {
  font-family: 'NeueMontreal-Regular';
  src: url('/fonts/NeueMontreal-Regular.otf') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.headline {
  font-family: 'NeueMontreal-Regular', 'sans-serif';
  color: var(--color-black);
  line-height: 1;
}